################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WorklogApp/bin/Debug/net8.0
/WorklogApp/obj
/WorklogApp/Properties
/WorklogApp/Migrations
